@charset "UTF-8";

@media (min-width: 768px) {
    #botao-hamburguer {
        display: none;
    }
    
    .link-redes-sociais{
        width: 30px;
        height: 30px;
    }
    .link-redes-sociais-center {
        text-align: center;
        padding-left: 10px;
        margin: auto;
    }
}

@media (max-width: 767px) {
    .link-redes-sociais {
        display: none;
    }
}
* {
    padding: 0;
    margin: 0;
}

header {
    background-image: linear-gradient(to bottom, rgb(255, 173, 19), rgb(255, 200, 80));
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.400);
}

#logo {
    text-align: center;
}

.imagem-logo {
    height: 50px;
}

.imagem-logo-div {
    padding-top: 3px;
}

#botao-hamburguer {
    text-align: right;
    padding-top: 10px;
}

.main-mobile {
    display: none;
    width: 100%;
}

.main-mobile > ul {
    padding: 0px;
}

.main-mobile > ul > a {
    text-decoration: none;
}

#itens {
   background-color: #FFAD13; 
}

.lista {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: #FFC850;
    list-style: none;
    font-weight: bold;
}

.lista:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
    font-weight: bold
}

.barra-rgb {
    background-image: linear-gradient(to right, rgb(255, 255, 93),rgb(255, 80, 80), rgb(170, 40, 170), rgb(65, 65, 255), rgb(0, 162, 255), rgb(113, 255, 113));
    height: 7px;
}

