@charset "UTF-8";

@media (max-width: 500px) {
    .escrita {
        width: 325px !important;
    }
}

@media (max-width: 768px) {
    .escrita {
        width: 450px !important;
    }
}

@media (max-width: 991px) {
    .link-redes-sociais-center {
       display: none;
    }
    .link-navbar {
        display: none;
    }
    .redes-sociais-mobile {
        display: none;
    }
    .col-12-nav {
        display: none;
    }

    #formulario {
        margin: auto;
    }
    
    #div-main-img-menor {
        display: none;
    }

    #div-main-img-maior {
        display: none;
    }

    #div-main-fundo-mobile1 {

        width: 100%; 
        margin-top: 20px;
    }

    #div-main-fundo-mobile2 {
        display: none;
    }

    #formulario {
        background-color: #ffb429 !important;
        width: 450px;
        text-align: center;
        border-radius: 30px;
        margin-top: 40px !important;
        padding-top: 30px;
        padding-bottom: 30px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.250);
    }

    .escrita {
        width: 600px;
    }
}

@media (min-width: 768px) {
    .redes-sociais-mobile {
        display: inline;
        padding: 5px;
    }
    .link-navbar {
        display: inline;
        text-align: center;
    }

    .link-redes-sociais {
        width: 30px;
    }
    #div-main-fundo-mobile1 {
        display: none;
    }

    #div-main-fundo-mobile2 {
        display: block;
        width: 90%; 
        margin-top: 20px;
        margin: auto;
    }
    #formulario {
        background-color: #ffb429 !important;
        width: 450px;
        text-align: center;
        border-radius: 30px;
        margin-top: 40px !important;
        padding-top: 30px;
        padding-bottom: 30px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.250);
    }
}

@media (min-width: 992px) {
    header {
        height: 100px;
    }

    #container {
        height: 100px;
    }

    #botao-hamburguer {
        display: none;
    }
    
    .link-redes-sociais{
        width: 30px;
        height: 30px;
    }
    .link-redes-sociais-center {
        margin: auto;
    }
    .link-navbar {
        margin: auto;
    }

    .redes-sociais-mobile {
        display: none;
    }

    .row-nav {
        height: 50px;
        padding-top: 10px;
    }

    .col-12-nav {
        margin: auto;
    }
   
    .col-12-nav > a {
        text-decoration: none;
        color: white;
        padding: 10px;
        font-weight: bold;
    }

    .navbar-personalizar:hover {
        text-decoration: none;
        background-color: #CC8A0E;
        color: white;
        transition: 0.5s;
    }

    .dropdown > button {
        background-color: transparent;
        border: 0px;
        font-weight: bold;
    }

    .dropdown > button:hover {
        text-decoration: none;
        background-color: #CC8A0E;
        color: white;
        transition: 0.5s;
        border-radius: 0px;
    }
    
    .dropdown-menu {
        background-color: #CC8A0E !important;
        border-radius: 0px !important;
    }

    .dropdown-menu a{
        background-color: #CC8A0E;
        border-radius: 0px !important;
    }

    .dropdown-item {
        font-weight: bold !important;
        color: white !important;
    }

    .dropdown-item:hover {
        color: black !important;
    }

    .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
        background-color: #d18c0c !important;
        border-radius: 0px !important;
    }

    #div-main > img {
        width: 500px;
        height: 500px;
    }
    #div-main-img-maior {
        display: none;
    }

    #div-main-img-menor {
        display: block;
    }

    #div-main-fundo-mobile1, #div-main-fundo-mobile2 {
        display: none;
    }
}

@media (min-width: 991px) and  (max-width: 1200px) {
    
}

@media (min-width: 1201px) {
    
}

@media (min-width: 1250px) {
    #div-main-img-menor {
        display: none;
    }

    #div-main-img-maior {
        display: block;
    }

    #div-main > img {
        width: 600px;
        height: 500px;
    }
}

@media (min-width: 1500px) {
    
}

* {
    padding: 0;
    margin: 0;
}

header {
    background-image: linear-gradient(to top, rgb(255, 173, 19), rgb(255, 200, 80));
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.400);
    padding: 0;

}

#logo {
    text-align: center;
    margin: auto;
}

.imagem-logo {
    height: 80px;
}

.imagem-logo-div {
    padding-top: 3px;
}

#botao-hamburguer {
    text-align: right;
    margin: auto;
}

.main-mobile {
    display: none;
    width: 100%;
}

.main-mobile > ul {
    padding: 0px;
}

.main-mobile > ul > a {
    text-decoration: none;
}

#itens {
   background-color: #FFAD13; 
}

.lista {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: #FFAD13;
    list-style: none;
    font-weight: bold;
}

.lista:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
    font-weight: bold
}

.barra-rgb {
    background-image: linear-gradient(to right, rgb(255, 255, 93),rgb(255, 80, 80), rgb(170, 40, 170), rgb(65, 65, 255), rgb(0, 162, 255), rgb(113, 255, 113));
    height: 7px;

}


#formulario > h2 {
    padding-bottom: 15px;   
    color: white;
    font-weight: bold;
    margin: 10px;
}

#iname, #itel, #iemail, #icidade {
    width: 85% !important;
    border: none;
    height: 30px;
    border-radius: 2px;
}


#simular {
    width: 85% !important;
    background-color: #CC8A0E;
    border: none;
    color: white;
    font-weight: bold;
    height: 60px;
    font-size: 1.5em;
}

#simular:hover {
    background-color: white;
    color: #CC8A0E;
    transition: 0.2s;
    cursor: pointer;
}

#fundo-formulario {
    background-color: #299bff;
    padding-bottom: 50px;
}

#div-main {
    text-align: center;
}

.categorias-main-imoveis {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 100px;
}

.categorias-main-imoveis > img {
    width: 90px;
}

.categorias-main-imoveis > h2 {
    color: #e4ae49;
    font-weight: bold;
    font-size: 400;
}

.escrita {
    text-align: center;
    margin: auto;
    width: 600px;
}

.escrita > h3 {
    margin-top: 20px;
    font-size: 1.3em
}

.imoveis {
    margin-bottom: 30px;
}

.imoveis-div {
    width: 65%;
    border: 3px solid #FFAD13;
    text-align: center;
    margin: auto !important;
    border-radius: 20px;
}

.imoveis-div > p {
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgba(128, 128, 128, 0.674);
    font-weight: 600;
}

.imoveis-div > h3 {
    margin-bottom: 30px;
    font-weight: 600;
}

.imoveis-div > img {
    width: 80%;
    margin-bottom: 20px;
}

.imoveis-div > a > button {
    margin-bottom: 20px;
    border: 2px solid #FFAD13;
    font-weight: 500;
    color: black;
    border-radius: 10px;
    width: 130px;
    height: 35px;
    background-color: transparent;
}


.imoveis-div > a > button:hover {
    background-color: orange;
    border-color: orange;
    color: white;
    transition: 0.3s;
}

.imoveis-div > a {
    text-decoration: none;
}

.botao-mais-opcoes-imoveis {
    text-align: center;
    margin-bottom: 30px;
}

.botao-mais-opcoes-imoveis > button {
    background-color: #FFAD13;
    border: none;
    border-radius: 10px;
    padding: 12px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.150);
    box-shadow: 3px 8px 10px rgba(0, 0, 0, 0.205);
}

.botao-mais-opcoes-imoveis > button > a {
    text-decoration: none;
    color: white;
}

.botao-mais-opcoes-imoveis > button:hover {
    background-color: orange;
    transition: 0.5s;
}

.categorias-main-carros {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
}

.categorias-main-carros > img {
    width: 90px;
}

.categorias-main-carros > h2 {
    color: rgb(34, 163, 255);
    font-weight: bold;
    font-size: 400;
}

.carros {
    margin-bottom: 30px;
}

.carros-div {
    width: 65%;
    border: 3px solid rgb(34, 163, 255);
    text-align: center;
    margin: auto !important;
    border-radius: 20px;
}

.carros-div > p {
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgba(128, 128, 128, 0.674);
    font-weight: 600;
}

.carros-div > h3 {
    margin-bottom: 30px;
    font-weight: 600;
}

.carros-div > img {
    width: 80%;
    margin-bottom: 20px;
}

.carros-div > a > button {
    margin-bottom: 20px;
    border: 2px solid rgb(34, 163, 255);
    font-weight: 500;
    color: black;
    border-radius: 10px;
    width: 130px;
    height: 35px;
    background-color: transparent;
}


.carros-div > a > button:hover {
    background-color: rgb(0, 119, 255);
    border-color: rgb(0, 119, 255);
    color: white;
    transition: 0.3s;
}

.carros-div > a {
    text-decoration: none;
}

.botao-mais-opcoes-carros {
    text-align: center;
    margin-bottom: 30px;
}

.botao-mais-opcoes-carros > button {
    background-color: rgb(34, 163, 255);
    border: none;
    border-radius: 10px;
    padding: 12px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.150);
    box-shadow: 3px 8px 10px rgba(0, 0, 0, 0.205);
}

.botao-mais-opcoes-carros > button > a {
    text-decoration: none;
    color: white;
}

.botao-mais-opcoes-carros > button:hover {
    background-color: rgb(0, 119, 255);
    transition: 0.5s;
}

.categorias-main-motos {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 100px;
}

.categorias-main-motos > img {
    width: 90px;
}

.categorias-main-motos > h2 {
    color: rgb(34, 163, 255);
    font-weight: bold;
    font-size: 400;
}

.motos {
    margin-bottom: 30px;
}

.motos-div {
    width: 65%;
    border: 3px solid rgb(34, 163, 255);
    text-align: center;
    margin: auto !important;
    border-radius: 20px;
}

.motos-div > p {
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgba(128, 128, 128, 0.674);
    font-weight: 600;
}

.motos-div > h3 {
    margin-bottom: 30px;
    font-weight: 600;
}

.motos-div > img {
    width: 80%;
    margin-bottom: 20px;
}

.motos-div > a > button {
    margin-bottom: 20px;
    border: 2px solid rgb(34, 163, 255);
    font-weight: 500;
    color: black;
    border-radius: 10px;
    width: 130px;
    height: 35px;
    background-color: transparent;
}


.motos-div > a > button:hover {
    background-color: rgb(0, 119, 255);
    border-color: rgb(0, 119, 255);
    color: white;
    transition: 0.3s;
}

.motos-div > a {
    text-decoration: none;
}

.botao-mais-opcoes-motos {
    text-align: center;
    margin-bottom: 30px;
}

.botao-mais-opcoes-motos > button {
    background-color: rgb(34, 163, 255);
    border: none;
    border-radius: 10px;
    padding: 12px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.150);
    box-shadow: 3px 8px 10px rgba(0, 0, 0, 0.205);
}

.botao-mais-opcoes-motos > button > a {
    text-decoration: none;
    color: white;
}

.botao-mais-opcoes-motos > button:hover {
    background-color: rgb(0, 17, 255);
    transition: 0.5s;
}

.categorias-main-eletro {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 100px;
}

.categorias-main-eletro > img {
    width: 90px;
}

.categorias-main-eletro > h2 {
    color: rgb(255, 47, 47);
    font-weight: bold;
    font-size: 400;
}

.eletro {
    margin-bottom: 30px;
}

.eletro-div {
    width: 65%;
    border: 3px solid rgb(255, 47, 47);
    text-align: center;
    margin: auto !important;
    border-radius: 20px;
}

.eletro-div > p {
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgba(128, 128, 128, 0.674);
    font-weight: 600;
}

.eletro-div > h3 {
    margin-bottom: 30px;
    font-weight: 600;
}

.eletro-div > img {
    width: 80%;
    margin-bottom: 20px;
}

.eletro-div > a > button {
    margin-bottom: 20px;
    border: 2px solid rgb(255, 47, 47);
    font-weight: 500;
    color: black;
    border-radius: 10px;
    width: 130px;
    height: 35px;
    background-color: transparent;
}


.eletro-div > a > button:hover {
    background-color: rgb(255, 0, 0);
    border-color: rgb(255, 0, 0);
    color: white;
    transition: 0.3s;
}

.eletro-div > a {
    text-decoration: none;
}

.botao-mais-opcoes-eletro {
    text-align: center;
    margin-bottom: 30px;
}

.botao-mais-opcoes-eletro > button {
    background-color: rgb(255, 47, 47);
    border: none;
    border-radius: 10px;
    padding: 12px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.150);
    box-shadow: 3px 8px 10px rgba(0, 0, 0, 0.205);
}

.botao-mais-opcoes-eletro > button > a {
    text-decoration: none;
    color: white;
}

.botao-mais-opcoes-eletro > button:hover {
    background-color: rgb(230, 0, 0);
    transition: 0.5s;
}

.categorias-main-servicos {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 100px;
}

.categorias-main-servicos > img {
    width: 160px;
}

.categorias-main-servicos > h2 {
    color: rgb(112, 244, 95);
    font-weight: bold;
    font-size: 400;
}

.servicos {
    margin-bottom: 30px;
}

.servicos-div {
    width: 65%;
    border: 3px solid rgb(112, 244, 95);
    text-align: center;
    margin: auto !important;
    border-radius: 20px;
}

.servicos-div > p {
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgba(128, 128, 128, 0.674);
    font-weight: 600;
}

.servicos-div > h3 {
    margin-bottom: 30px;
    font-weight: 600;
}

.servicos-div > img {
    width: 80%;
    margin-bottom: 20px;
}

.servicos-div > a > button {
    margin-bottom: 20px;
    border: 2px solid rgb(112, 244, 95);
    font-weight: 500;
    color: black;
    border-radius: 10px;
    width: 130px;
    height: 35px;
    background-color: transparent;
}


.servicos-div > a > button:hover {
    background-color: rgb(30, 255, 0);
    border-color: rgb(30, 255, 0);
    color: white;
    transition: 0.3s;
}

.servicos-div > a {
    text-decoration: none;
}

.botao-mais-opcoes-servicos {
    text-align: center;
    margin-bottom: 30px;
}

.botao-mais-opcoes-servicos > button {
    background-color: rgb(112,244,95);
    border: none;
    border-radius: 10px;
    padding: 12px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.150);
    box-shadow: 3px 8px 10px rgba(0, 0, 0, 0.205);
    text-decoration: none;
}

.botao-mais-opcoes-servicos > button > a {
    text-decoration: none;
    color: white;
}

.botao-mais-opcoes-servicos > button:hover {
    background-color: rgb(30, 255, 0);
    transition: 0.5s;
}